@use "../global/global-all";

.button {
  background: global-all.$blue;
  color: global-all.$white;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  border: none;
  text-transform: uppercase;
  padding: 16px 0;
  cursor: pointer;
}
