@use "../global/all";

.features-list {
  @include all.list-reset;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  flex-direction: column;

  @media (min-width: all.$tablet) {
    flex-direction: row;
  }
}

.features-list__title,
.features-list__description {
  text-align: left;
}
