@use "../global/global-all";

.features-list {
  @include global-all.list-reset;
  padding: 18px;
  display: block;
  margin: 0 auto;
}

.features-list__title,
.features-list__description {
  text-align: left;
}
