@use "../global/all";

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: all.$tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-footer__hashtag {
  font-size: 21px;
}
