@use "../global/all.scss";

.page__body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;

  @media (min-width: all.$desktop) {
    box-shadow: all.$shadow;
    margin: 0 40px;
  }
}
