@use "../global/all";

.photo-post {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media (min-width: all.$tablet) {
    grid-column: 2fr;

    &:nth-of-type(1) {
      grid-column: 1 / 3;
    }
  }
}

.photo-post__item {
  width: 100%;
}

.photo-post__wrapper {
  display: grid;
}

.photo-post__img {
  width: 100%;
  height: auto;
}

.photo-post__info {
  display: grid;

  @media (min-width: all.$tablet) {
    background: all.$form-light-gray;
    grid-template-columns: 6fr 1fr;
    justify-content: space-between;
  }

  @media (min-width: all.$desktop) {
    background: all.$black-30;
    grid-template-columns: 10fr 1fr;
  }
}

.photo-post__title {
  margin: 0;
  padding-top: 10px;
}

.photo-post__author {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  text-transform: none;
  color: all.$dark-gray;
}

.photo-post__likes {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
