@use "../global/all";

.text-reason {
  background: all.$light-gray;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;

  @media (min-width: all.$tablet) {
    grid-column: inherit;
  }
}

.text-reason__number {
  color: all.$dark-gray;
  font-size: 14px;
}
